/* ====== NAVBAR ====== */
nav {
  background-color: black;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000; }
  nav ul {
    margin: 0;
    padding: 0;
    list-style: none; }
    nav ul li a {
      display: inline-block;
      padding: 1em;
      color: white;
      text-decoration: none; }
    nav ul li :hover {
      background-color: black; }

nav ul li:first-child > a {
  display: inline-block; }

#menu-icon {
  float: right;
  display: block; }

.topnav ul li a {
  display: none; }

.topnav.dropped ul li a {
  display: block; }

.topnav.dropped #menu-icon {
  position: absolute;
  right: 0;
  top: 0; }

.material-icons {
  font-size: 1em; }

@media screen and (min-width: 600px) {
  #menu-icon {
    display: none; }
  .topnav ul li a {
    display: inline-block; }
  .topnav ul li {
    display: inline; } }

html {
  font-family: 'Nunito', sans-serif; }

/* ====== Flex ====== */
.wrapper-content {
  margin-left: 10vw;
  margin-right: 10wv;
  width: 80vw; }

.grid-master {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100vh; }

.grid-item1 {
  width: 100%; }

#section0 {
  height: 100vh; }

#section3 {
  height: 100vh; }

#section4 {
  height: 100vh; }
