.contact-box{
    border: 1px solid #F7EDD2;
    padding: 0.5em;
    text-align: center;
  }

  .input-field{
    width: 90%;
  }
  .message{
    height: 3em;
  }
  .contact-form{
    padding-top: 1em;
  }

@media screen and (min-width: 600px){ 

  .input-field{
    width: 35%;
  }
  .message{
    height: 6em;
  }
}