#section0 {
  background-image: url(../images/noodle_hero.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  padding: 0;
}

.hero-content {
  padding-top: 20vh;
  margin-left: 10vw;
  margin-right: 10vw;
  text-shadow: 2px 2px 4px rgb(31, 29, 29);
}

.pink{
  color: rgb(236, 59, 89);
  text-shadow: 2px 2px 4px rgb(31, 29, 29);
}

@media screen and (min-width: 600px){ 
  #section0{
    background-attachment: fixed;
}
}