#section0 {
  background-image: url(../images/noodle_hero.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  padding: 0;
}


.hero-content {
  padding-top: 20vh;
  margin-left: 10vw;
  margin-right: 10vw;
}

