@import "navbar";
@import "hero";
@import "normalize";

html{
    font-family:'Nunito', sans-serif;
}

body {
  color: #F7EDD2;
  background-color: #2B2625;
  margin: 0;
}

  /* ====== Flex ====== */

  .wrapper-content {
    margin-left: 10vw;
    margin-right: 10wv;
    width: 80vw;
  }
  
  .grid-master {
    display: flex;
    height: 100vh;
  
  }
  
  .grid-item1 {
    width: 100%;
  }
  
  #section0 {
    height: 100vh;
  }
  
  #section3 {
    height: 100vh;
  
  }
  
  #section4 {
    height: 100vh;
  
  }
  
