@import "normalize";
@import "icons";
@import "navbar";
@import "hero";
@import "meny";
@import "aboutus";


html{
  font-family:'Nunito', sans-serif;
  scroll-behavior: smooth;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  color: #F7EDD2;
  background-color: #2B2625;
  margin: 0;
}

h1 {
  font-size: 6em;
  text-align: center;
}

footer{
  background-color: #070506;
  color: #F7EDD2;
  text-align: center;
  padding: 1em;
}

 /* ====== sections ====== */

#section0 {
  height: 100vh;
}
  
#section3 {
  margin: 2em;
  margin-top: 5em;
  height: 100vh;  
}
  
#section4 {
  height: 100vh;
  margin: 2em;
    h2{
      padding-top: 5em;
  }
}

 /* ====== captions ====== */

  
.caption{
  text-align: center;
  padding-top: 2em;
  padding-bottom: 1em;  
}

.align-vertically {
  vertical-align: middle;
}



  .contact-box{
    border: 1px solid #F7EDD2;
    padding: 0.5em;
    text-align: center;
  }

  .input-field{
    width: 90%;
  }
  .message{
    height: 3em;
  }

  blockquote {
    display: block;
    border-width: 2px 0;
    border-style: solid;
    border-color: #F7EDD2;
    padding: 1.5em 0 0.5em;
    margin: 1.5em 0;
    position: relative;
    font-size: 1.5em;
    text-align: center;
  }
  blockquote:before {
    content: '\201C';
    position: absolute;
    top: -0.1em;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #2B2625;
    width: 3rem;
    height: 2rem;
    font: 5em/1.08em 'PT Sans', sans-serif;
    color: rgb(236, 59, 89);
    text-align: center;
  }



  .contact-form{
    padding-top: 1em;
  }

@media screen and (min-width: 600px){ 



  .caption{
    font-size: 45px;
    padding-top: 0;
    padding-bottom: 0; 
  }


  #section4{
    h2{
      padding-top: 1em;
    }
  }

  .input-field{
    width: 35%;
  }
  .message{
    height: 6em;
  }
}
