@import "normalize";
@import "hero";
@import "navbar";

html{
    font-family:'Nunito', sans-serif;
    
}

body {
  color: #F7EDD2;
  background-color: #2B2625;
  margin: 0;
}

h1 {
  font-size: 6em;
  text-align: center;
}

  /* ====== Flex ====== */

  .wrapper-content {
    margin-left: 10vw;
    margin-right: 10vw;
    width: 80vw;
  }
  
  .grid-master {
    display: flex;

  }
  
  .grid-item1 {
    padding: 1em;
    border: 1px solid #F7EDD2;
    margin: 1em;  
  }

  .grid-item2 {
    border: 1px solid #F7EDD2;
    padding: 1em;
    margin-left: 1em;
    margin-right: 0.5em;
  }

  .grid-item3 {
    border: 1px solid #F7EDD2;
    padding: 1em;
    margin-right: 1em;
  }
  
  #section0 {
    height: 100vh;
  }
  
  #section3 {
    margin: 2em;
    margin-top: 5em;
    height: 100vh;  
  }
  
  #section4 {
    height: 100vh;
    margin: 2em;
  }
  
  .ramen {
    width: 100vw;
    height: auto;
  }
